name: Release APK

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: "21"

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          gradle-version: '9.3.1'

      - name: Build release APK (unsigned)
        run: bash ./gradlew :app:assembleRelease --stacktrace

      - name: Upload APK artifact
        uses: actions/upload-artifact@v5
        with:
          name: ExtensionBox-APK
          path: app/build/outputs/apk/release/*.apk
